# This file designates the default owners for all code in the repository.
# When a pull request is opened, these users will be automatically requested for review.

* @sarahbx @qwang1 @MrQuality @duduvaa @TzahiAshkenazi @m0rdechai @guchen11